@using TrelloSpc.Models
@model TrelloSpc.Controllers.BoardViewModel

@{
    ViewBag.Title = "Board";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Board</h2>

<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Points</td>
            <td>Time in Doing</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var card in Model.Cards)
        {
            <tr>
                <td>@card.Name</td>
                <td>@card.Points</td>
                <td>@card.TimeInList("Doing")</td>
            </tr>
        }
    </tbody>
</table>